server {
    listen 443 ssl http2;
    
    ssl_certificate {{ tls_crt_file }};
    ssl_certificate_key {{ tls_key_file }};
    
    server_name bootnode.{{ environments[env].domain }};

    location / {
        proxy_pass https://{{ nomad_server_ip }}:13523;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 443 ssl http2;

    ssl_certificate {{ tls_crt_file }};
    ssl_certificate_key {{ tls_key_file }};

    server_name provider.{{ environments[env].domain }};

    location / {
        proxy_pass https://{{ nomad_server_ip }}:13533;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

server {
    listen 443 ssl http2;
    server_name chainrpc.{{ environments[env].domain }};

    location / {
        proxy_pass http://localhost:8545;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
