#jinja2: trim_blocks:True, lstrip_blocks:True
data_dir  = "/opt/nomad/data"
bind_addr = "{{ '0.0.0.0' if env == 'devenv' else '127.0.0.1' }}"

{% if nomad_servers_defined %}
server {
  enabled = true
  bootstrap_expect = 1
  raft_protocol = 3
}
{% endif %}

{% if nomad_clients_defined %}
client {
  enabled = true
  servers = ["{{ nomad_server_ip if env == 'devenv' else '127.0.0.1' }}:4647"]
  chroot_env {
    "/bin" = "/bin"
    "/etc" = "/etc"
    "/lib" = "/lib"
    "/lib32" = "/lib32"
    "/lib64" = "/lib64"
    "/run/resolvconf" = "/run/resolvconf"
    "/sbin" = "/sbin"
    "/usr" = "/usr"
    "/opt" = "/opt"
  }
  artifact {
    decompression_file_count_limit = 16384
  }
  host_volume "tmp-volume" {
    path = "/tmp/{{ env }}"
  }
  {% if env == "devenv" %}
  host_volume "artifacts-volume" {
    path = "{{ ansible_user_home }}/{{ env }}/artifacts"
  }
  {% endif %}
}
{% endif %}

vault {
  enabled = true
  address = "{{ vault_address }}"
  tls_skip_verify = true
}

log_level = "DEBUG"
enable_syslog = true
syslog_facility = "LOCAL0"

{% if nomad_servers_defined %}
advertise {
  http = "{{ ansible_host if env == 'devenv' else '127.0.0.1' }}:4646"
  rpc  = "{{ ansible_host if env == 'devenv' else '127.0.0.1' }}:4647"
  serf = "{{ ansible_host if env == 'devenv' else '127.0.0.1' }}:4648"
}

telemetry {
  prometheus_metrics = true
  disable_hostname   = true
}
{% endif %}