#jinja2: trim_blocks:True, lstrip_blocks:True
ui = true

api_addr = "{{ vault_address }}"

storage "file" {
  path = "/opt/vault/data"
}

listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_cert_file = "/opt/vault/tls/tls.crt"
  tls_key_file  = "/opt/vault/tls/tls.key"
}
