{
  "bootnode1_keystore_password": "primev",
  "provider1_keystore_password": "primev",
  "bidder1_keystore_password": "primev",
  "geth_bootnode1_boot_key": "<key>",
  "geth_signer1_keystore_password": "primev",
  "geth_signer2_keystore_password": "primev",
  "geth_signer3_keystore_password": "primev",
  "oracle_keystore_password": "primev",
  "oracle_db_password": "primev",
  "deploy_contracts_private_key": "<key>"
}
