#jinja2: trim_blocks:True, lstrip_blocks:True
job "{{ job.name }}" {
  datacenters = ["{{ datacenter }}"]

  group "{{ job.name }}-group" {
    count = {{ job.count }}

    network {
      mode = "bridge"

      dns {
        servers = {{ (ansible_facts['dns']['nameservers'] + ['1.1.1.1']) | tojson }}
      }
    }

    task "datadog-agent" {
      driver = "exec"

      template {
        data = <<-EOH
          REQUESTS_CA_BUNDLE="{{ tls_ca_crt_file }}"
        EOH
        destination = "secrets/.env"
        env = true
      }

      template {
        data = <<-EOH
          site: datadoghq.com
          logs_enabled: true
          {%- raw %}
          api_key: {{ with secret "secret/data/mev-commit" }}{{ .Data.data.datadog_api_key }}{{ end }}
          {% endraw %}
          tags:
            - env: {{ env }}
              version: {{ version }}
        EOH
        destination = "etc/datadog-agent/datadog.yaml"
      }

      template {
        data = <<-EOH
          {%- raw %}
          init_config:

          instances:
          {{- range nomadService "mev-commit-bootnode1" }}
            {{- if contains "metrics" .Tags }}
            - openmetrics_endpoint: https://{{ .Address }}:{{ .Port }}/metrics
              service: "mev-commit-bootnode1"
              metrics:
                - mev_commit*
                - go*
                - libp2p*
            {{- end }}
          {{- end }}

          {{- range nomadService "mev-commit-provider-node1" }}
            {{- if contains "metrics" .Tags }}
            - openmetrics_endpoint: https://{{ .Address }}:{{ .Port }}/metrics
              service: "mev-commit-provider-node1"
              metrics:
                - mev_commit*
                - go*
                - libp2p*
            {{- end }}
          {{- end }}

          {{- range nomadService "mev-commit-bidder-node1" }}
            {{- if contains "metrics" .Tags }}
            - openmetrics_endpoint: https://{{ .Address }}:{{ .Port }}/metrics
              service: "mev-commit-bidder-node1"
              metrics:
                - mev_commit*
                - go*
                - libp2p*
            {{- end }}
          {{- end }}

          {{- range nomadService "mev-commit-geth-bootnode1" }}
            {{- if contains "metrics" .Tags }}
            - openmetrics_endpoint: http://{{ .Address }}:{{ .Port }}/debug/metrics/prometheus
              service: "mev-commit-geth-bootnode1"
              metrics:
                - txpool*
                - trie*
                - system*
                - state*
                - rpc*
                - p2p*
                - eth*
                - chain*
            {{- end }}
          {{- end }}

          {{- range nomadService "mev-commit-geth-member-node" }}
            {{- if contains "metrics" .Tags }}
            - openmetrics_endpoint: http://{{ .Address }}:{{ .Port }}/debug/metrics/prometheus
              service: "mev-commit-geth-member-node"
              metrics:
                - txpool*
                - trie*
                - system*
                - state*
                - rpc*
                - p2p*
                - eth*
                - chain*
                - clique*
                - vm*
            {{- end }}
          {{- end }}

          {{- range nomadService "mev-commit-geth-signer-node1" }}
            {{- if contains "metrics" .Tags }}
            - openmetrics_endpoint: http://{{ .Address }}:{{ .Port }}/debug/metrics/prometheus
              service: "mev-commit-geth-signer-node1"
              metrics:
                - txpool*
                - trie*
                - system*
                - state*
                - rpc*
                - p2p*
                - eth*
                - chain*
                - clique*
                - vm*
            {{- end }}
          {{- end }}

          {{- range nomadService "mev-commit-geth-signer-node2" }}
            {{- if contains "metrics" .Tags }}
            - openmetrics_endpoint: http://{{ .Address }}:{{ .Port }}/debug/metrics/prometheus
              service: "mev-commit-geth-signer-node2"
              metrics:
                - txpool*
                - trie*
                - system*
                - state*
                - rpc*
                - p2p*
                - eth*
                - chain*
                - clique*
                - vm*
            {{- end }}
          {{- end }}

          {{- range nomadService "mev-commit-provider-emulator-node1" }}
            {{- if contains "metrics" .Tags }}
            - openmetrics_endpoint: http://{{ .Address }}:{{ .Port }}/metrics
              service: "mev-commit-provider-emulator-node1"
              metrics:
                - mev_commit*
            {{- end }}
          {{- end }}

          {{- range nomadService "mev-commit-bidder-emulator-node1" }}
            {{- if contains "metrics" .Tags }}
            - openmetrics_endpoint: http://{{ .Address }}:{{ .Port }}/metrics
              service: "mev-commit-bidder-emulator-node1"
              metrics:
                - mev_commit*
            {{- end }}
          {{- end }}
          {% endraw %}
        EOH
        destination = "etc/datadog-agent/conf.d/openmetrics.d/conf.yaml"
      }

      config {
        command = "datadog-agent"
        args = ["run"]
      }
    }
  }
}
