- name: Deploy Cluster
  hosts: nomad_clients
  gather_facts: yes

  vars:
    datacenter: "dc1"
    build_artifacts: false
    build_templates: false
    aws_s3_bucket: "primev-infrastructure-artifacts"

  pre_tasks:
    - name: Determine the Architecture of the Target System
      ansible.builtin.set_fact:
        target_system_architecture: "{{ 'arm64' if ansible_architecture == 'aarch64' else 'amd64' }}"

    - name: Check Operating System of the Target System
      assert:
        that:
          - ansible_facts['os_family'] == "Debian"
        fail_msg: "This playbook only supports Debian systems."
        success_msg: "Operating system is supported."

    - name: Include Variables
      include_vars:
        file: vars.yml

    - name: Load AWS Caller Information
      amazon.aws.aws_caller_info:
      register: aws_caller_info
      delegate_to: localhost
      run_once: true
      become: true
      become_user: "{{ lookup('env', 'USER') }}"
      when: version is not defined or version == ''

    - name: Check AWS Caller Information
      ansible.builtin.assert:
        that:
          - aws_caller_info is defined
          - aws_caller_info.user_id is defined
          - aws_caller_info.user_id | length > 0
        fail_msg: "AWS caller information is invalid or empty."
        success_msg: "AWS caller information is valid."
      when: version is not defined or version == ''

    - name: Check Profile
      ansible.builtin.assert:
        that:
          - profile is defined
          - profile != ''
          - profile in profiles
        fail_msg: "The profile variable is not set correctly."
        success_msg: "The profile variable is set to: {{ profile }}."

    - name: Determine "{{ profile }}" Jobs Profile
      set_fact:
        jobs: >-
          {{
            lookup('vars', 'jobs')
            | selectattr('name', 'in', (profiles[profile].job_names | difference(['datadog-agent-logs-collector'] if no_logs_collection | default(false) else [])))
            | list
          }}

    - name: Determine Artifacts Build Version
      ansible.builtin.shell: |
        echo "$(git rev-parse --short HEAD)$(git diff --quiet && echo '-'$(date +%s) || echo '-dirty-'$(date +%s))"
      args:
        executable: bash
      register: artifacts_build_version
      delegate_to: localhost
      run_once: true
      changed_when: false
      when: version is not defined or version == ''

    - name: Set Artifacts Build Version
      set_fact:
        build_artifacts: true
        version: "{{ artifacts_build_version.stdout }}"
      when: version is not defined or version == ''

    - name: Determine Existing Scripts Artifact Version
      ansible.builtin.shell: |
        cat "{{ ansible_env.HOME }}/{{ profile }}/version.txt" 2>/dev/null || echo ""
      args:
        executable: bash
      register: existing_scripts_artifacts_version

    - name: Set Existing Scripts Artifact Version as Stale
      set_fact:
        build_templates: "{{ (existing_scripts_artifacts_version.stdout | trim) != version }}"
      when: existing_scripts_artifacts_version.stdout is defined

    - name: Deployment Info
      ansible.builtin.assert:
        that:
          - profile is defined
          - profile != ''
          - version is defined
          - version != ''
        fail_msg: |
          Invalid profile or version.
        success_msg: |
          Profile: {{ profile }}
          Version: {{ version }}
          Build Artifacts: {{ 'yes' if build_artifacts | default(false) else 'no' }}
          Build Templates: {{ 'yes' if build_templates | default(false) else 'no' }}

    - name: Ensure "{{ ansible_env.HOME }}/{{ profile }}" Directory Exists
      ansible.builtin.file:
        path: "{{ ansible_env.HOME }}/{{ profile }}"
        state: directory
        mode: "0744"
        recurse: yes

  tasks:
    - name: Build Artifacts Async
      ansible.builtin.shell: |
        DESTINATION_DIR="{{ goreleaser_dist_dir }}/{{ item.name }}" && mkdir -p ${DESTINATION_DIR}
        if [ "{{ item.name }}" == "contracts" ]; then
          cd ./{{ item.path }}
          forge build --via-ir
          tar -czvf "${DESTINATION_DIR}/contracts_{{ version }}.tar.gz" ./out ./deployer_keystore ./deploy.py
        elif [ "{{ item.name }}" == "faucet-keystore" ]; then
          tar -czvf "${DESTINATION_DIR}/faucet_keystore_{{ version }}.tar.gz" -C ./{{ item.path }} .
        else
          cp ./{{ item.path }}/.goreleaser.yml ./{{ item.path }}/.goreleaser.tmp.yml
          yq -i "
            .builds[0].goos = [\"${GOOS}\"] |
            .builds[0].goarch = [\"${GOARCH}\"]
          " ./{{ item.path }}/.goreleaser.tmp.yml
          goreleaser release --config=./{{ item.path }}/.goreleaser.tmp.yml --clean --snapshot
          rm ./{{ item.path }}/.goreleaser.tmp.yml
        fi
      environment:
        GOOS: linux
        GOARCH: "{{ target_system_architecture }}"
        DIRTY_SUFFIX: "{{ version | regex_search('-.*') | default('') }}"
      args:
        chdir: "{{ playbook_dir }}/../../../"
        executable: bash
      loop: "{{ artifacts }}"
      loop_control:
        label: "{{ item.name }}"
      async: 600
      poll: 0
      delegate_to: localhost
      run_once: true
      register: build_artifacts_async
      when: build_artifacts

    - name: Wait for Build Artifacts Async to Complete
      ansible.builtin.async_status:
        jid: "{{ item.ansible_job_id }}"
      register: build_artifacts_async_result
      until: build_artifacts_async_result.finished
      retries: 200
      delay: 3
      loop: "{{ build_artifacts_async.results }}"
      loop_control:
        label: "{{ item.item.name }}"
      delegate_to: localhost
      run_once: true
      when: build_artifacts

    - name: Filter Artifacts for Upload
      ansible.builtin.find:
        paths: "{{ goreleaser_dist_dir }}"
        patterns:
          - "*{{ version }}*_Linux_{{ ansible_architecture }}.tar.gz"
          - "contracts_{{ version }}.tar.gz"
          - "*{{ version }}_checksums.txt"
          - "faucet_keystore_{{ version }}.tar.gz"
        recurse: yes
      register: upload_artifacts
      delegate_to: localhost
      run_once: true
      when: build_artifacts

    - name: Upload Artifacts Async
      amazon.aws.aws_s3:
        bucket: "{{ aws_s3_bucket }}"
        object: "{{ item.path | basename }}"
        src: "{{ item.path }}"
        mode: put
        tags:
          AutoDelete: "true"
      loop: "{{ upload_artifacts.files }}"
      loop_control:
        label: "{{ item.path | basename }}"
      async: 1000
      poll: 0
      delegate_to: localhost
      run_once: true
      register: upload_artifacts_async
      when: (upload_artifacts.files | default([])) | length > 0 and build_artifacts

    - name: Wait for Upload Artifacts Async to Complete
      ansible.builtin.async_status:
        jid: "{{ item.ansible_job_id }}"
      register: upload_artifacts_async_result
      until: upload_artifacts_async_result.finished
      retries: 200
      delay: 5
      loop: "{{ upload_artifacts_async.results }}"
      loop_control:
        label: "{{ item.item.path | basename }}"
      delegate_to: localhost
      run_once: true
      when: (upload_artifacts.files | default([])) | length > 0 and build_artifacts

    - name: Cleanup Artifacts
      ansible.builtin.file:
        path: "{{ goreleaser_dist_dir }}"
        state: absent
      delegate_to: localhost
      run_once: true
      when: (upload_artifacts.files | default([])) | length > 0 and build_artifacts

    - name: Delete "version.txt"
      file:
        path: "{{ ansible_env.HOME }}/{{ profile }}/version.txt"
        state: absent
      when: build_templates is defined and build_templates

    - name: Build Templates
      ansible.builtin.template:
        src: "templates/jobs/{{ item.template }}"
        dest: "{{ ansible_env.HOME }}/{{ profile }}/{{ item.name }}.nomad"
      loop: "{{ jobs }}"
      loop_control:
        label: "{{ item.name }}"
      vars:
        job: "{{ item }}"
      when: build_templates is not defined or build_templates

    - name: Create "version.txt"
      copy:
        content: "{{ version }}"
        dest: "{{ ansible_env.HOME }}/{{ profile }}/version.txt"
      when: build_templates is not defined or build_templates

    - name: Purge Cluster
      ansible.builtin.shell: |
        nomad var purge "nomad/jobs"
        nomad system gc
      args:
        executable: bash

    - name: Deploy Jobs
      ansible.builtin.shell: |
        nomad run {{ ansible_env.HOME }}/{{ profile }}/{{ job.name }}.nomad
        JOB_TYPE=$(nomad job status -json "{{ job.name }}" | jq -r '.[0].Allocations[0].JobType')
        if [ "${JOB_TYPE}" = "batch" ]; then
          TIMEOUT=300
          START_TIME=$(date +%s)

          while true; do
            STATUS=$(nomad job status -json "{{ job.name }}" | jq -r '.[0].Allocations[0].ClientStatus')
            case "${STATUS}" in
              complete|dead|failed|stopped)
              break
              ;;
            esac

            CURRENT_TIME="$(date +%s)"
            ELAPSED_TIME="$(( CURRENT_TIME - START_TIME ))"
            [ ${ELAPSED_TIME} -ge ${TIMEOUT} ] && exit 1

            sleep 1
          done
        fi
      args:
        executable: bash
      loop: "{{ jobs }}"
      loop_control:
        label: "{{ item.name }}"
      vars:
        job: "{{ item }}"
