#jinja2: trim_blocks:True, lstrip_blocks:True
job "{{ job.name }}" {
  datacenters = ["{{ datacenter }}"]
  type = "batch"

  group "{{ job.name }}-group" {
    count = {{ job.count }}
    restart {
      attempts = 0
      interval = "30m"
      delay = "15s"
      mode = "fail"
    }

    network {
      dns {
        servers = {{ (ansible_facts['dns']['nameservers'] + ['1.1.1.1']) | tojson }}
      }
    }

    task "deploy-contracts" {
      driver = "exec"

      artifact {
        source = "https://primev-infrastructure-artifacts.s3.us-west-2.amazonaws.com/contracts_{{ version }}.tar.gz"
        destination = "local/"
      }

      template {
        data = <<-EOH
          XDG_CONFIG_HOME="local/.config"
          {%- raw %}
          {{- range nomadService "mev-commit-geth-bootnode1" }}
            {{- if contains "http" .Tags }}
          RPC_URL="http://{{ .Address }}:{{ .Port }}"
            {{- end }}
          {{- end }}
          KEYSTORE_PASSWORD="{{ with secret "secret/data/mev-commit" }}{{ .Data.data.contract_deployer_keystore_password }}{{ end }}"
          {% endraw %}
          CHAIN_ID="{{ job['chain-id'] }}"
          DEPLOY_TYPE="core"
          CONTRACT_REPO_ROOT_PATH="local/contracts"
        EOH
        destination = "secrets/.env"
        env = true
      }

      template {
        data = <<-EOH
          #!/usr/bin/env bash

          {%- raw %}
          {{- range nomadService "datadog-agent-logs-collector" }}
            {{ if contains "tcp" .Tags }}
          exec > >(nc {{ .Address }} {{ .Port }}) 2>&1
            {{ end }}
          {{- end }}
          {% endraw %}

          # Get the keystore file
          KEYSTORE_DIR=$CONTRACT_REPO_ROOT_PATH/deployer_keystore
          KEYSTORE_FILE=$(ls $KEYSTORE_DIR/* 2>/dev/null)

          if [ -z "$KEYSTORE_FILE" ]; then
            echo "No keystore file found in $KEYSTORE_DIR. Terminating job."
            exit 1
          fi

          # Run the deployment script
          python3 $CONTRACT_REPO_ROOT_PATH/deploy.py \
            --keystore $KEYSTORE_FILE \
            --password "$KEYSTORE_PASSWORD" \
            --rpc-url "$RPC_URL" \
            --contracts BidderRegistry.sol PreConfCommitmentStore.sol BlockTracker.sol Oracle.sol ProviderRegistry.sol \
            --gas-limit 3000000 \
            --chain-id "$CHAIN_ID" \
            --out-dir $CONTRACT_REPO_ROOT_PATH/out
        EOH
        destination = "local/run.sh"
        perms = "0755"
      }

      config {
        command = "bash"
        args = ["-c", "local/run.sh"]
      }
    }
  }
}