#jinja2: trim_blocks:True, lstrip_blocks:True
job "{{ job.name }}" {
  datacenters = ["{{ datacenter }}"]
  type = "batch"

  group "{{ job.name }}-group" {
    count = {{ job.count }}

    network {
      dns {
        servers = {{ (ansible_facts['dns']['nameservers'] + ['1.1.1.1']) | tojson }}
      }
    }

    task "funder" {
      driver = "exec"

      artifact {
        source = "https://foundry.paradigm.xyz"
        destination = "local/foundry.sh"
      }

      template {
        data = <<-EOH
          XDG_CONFIG_HOME="local/.config"
        EOH
        destination = "secrets/.env"
        env = true
      }

      template {
        data = <<-EOH
          #!/usr/bin/env bash

          chmod +x local/foundry.sh && local/foundry.sh
          chmod +x ${XDG_CONFIG_HOME}/.foundry/bin/foundryup && ${XDG_CONFIG_HOME}/.foundry/bin/foundryup
          export PATH="${XDG_CONFIG_HOME}/.foundry/bin:$PATH"

          nomad_alloc_index=$NOMAD_ALLOC_INDEX

          index_plus_one=$((nomad_alloc_index + 1))
          service_name="{{ job.target_name }}${index_plus_one}"
          echo "Service name: $service_name"

          {% raw %}
          {{- range nomadService "datadog-agent-logs-collector" }}
            {{ if contains "tcp" .Tags }}
          exec > >(nc {{ .Address }} {{ .Port }}) 2>&1
            {{ end }}
          {{- end }}

          {{- range nomadService $service_name }}
            {{- if contains "http" .Tags }}
          START_TIME=$(date +%s)
          TIMEOUT=60

          while : ; do
              STATUS_CODE=$(curl -o /dev/null -s -w "%%{http_code}\n" https://{{ .Address }}:{{ .Port }}/health)
              if [ "${STATUS_CODE}" -eq 200 ]; then
                  break
              else
                  CURRENT_TIME=$(date +%s)
                  ELAPSED_TIME=$((CURRENT_TIME - START_TIME))

                  if [ "${ELAPSED_TIME}" -ge "${TIMEOUT}" ]; then
                      echo "Timeout reached; the node is unreachable."
                      exit 1
                  fi
                  sleep 1
              fi
          done

          TOPOLOGY=$(curl -s https://{{ .Address }}:{{ .Port }}/v1/debug/topology)
          ETHEREUM_ADDRESS=$(echo ${TOPOLOGY} | jq -r '.topology.self["Ethereum Address"]')

            {{- range nomadService "mev-commit-geth-bootnode1" }}
              {{- if contains "http" .Tags }}
            cast send \
                 --priority-gas-price 2000000000 \
                 --gas-price 5000000000 \
                 --rpc-url http://{{ .Address }}:{{ .Port }} \
                 --private-key 0x7c9bf0f015874594d321c1c01ada3166c3509bbd91f76f9e4d7380c2df269c55 ${ETHEREUM_ADDRESS} \
                 --value 1000ether
              {{- end }}
            {{- end }}

            {{- end }}
          {{- end }}
          {% endraw %}
        EOH
        destination = "local/run.sh"
        perms = "0755"
      }

      config {
        command = "bash"
        args = ["-c", "local/run.sh"]
      }
    }
  }
}
