#jinja2: trim_blocks:True, lstrip_blocks:True
job "{{ job.name }}" {
  datacenters = ["{{ datacenter }}"]

  group "{{ job.name }}-group" {
    count = {{ job.count }}

    {% if env == 'devenv' %}
    restart {
      attempts = 0
      mode = "fail"
    }

    reschedule {
      attempts = 0
      unlimited = false
    }
    {% endif %}

    network {
      mode = "bridge"

      dns {
        servers = {{ (ansible_facts['dns']['nameservers'] + ['1.1.1.1']) | tojson }}
      }

      {% for port_name, port_details in job.ports[0].items() %}
      port "{{ port_name }}" {
        {% if port_details.get('static') %}
        static = {{ port_details['static'] }}
        {% endif %}
        {% if port_details.get('to') %}
        to = {{ port_details['to'] }}
        {% endif %}
      }
      {% endfor %}
    }

    volume "tmp-volume" {
      type = "host"
      source = "tmp-volume"
      read_only = false
    }

    task "restore" {
      driver = "exec"

      lifecycle {
        hook = "prestart"
      }

      {% if env == 'testenv' %}
      resources {
        memory = 2048
      }
      {% endif %}

      volume_mount {
        volume = "tmp-volume"
        destination = "/local/backups"
        read_only = false
      }

      {% if env != 'devenv' %}
      artifact {
        source = "https://primev-infrastructure-artifacts.s3.us-west-2.amazonaws.com/genesis_{{ version }}.json"
      }
      artifact {
        source = "https://primev-infrastructure-artifacts.s3.us-west-2.amazonaws.com/mev-commit-geth_{{ version }}_Linux_{{ target_system_architecture }}.tar.gz"
      }
      {% else %}
      artifact {
        source = "http://{{ ansible_facts['default_ipv4']['address'] }}:1111/genesis_{{ version }}.json"
      }
      artifact {
        source = "http://{{ ansible_facts['default_ipv4']['address'] }}:1111/mev-commit-geth_{{ version }}_Linux_{{ target_system_architecture }}.tar.gz"
      }
      {% endif %}

      template {
        data = <<-EOH
          {%- raw %}
          GETH_DATA_DIR="/alloc/data/node-{{ env "NOMAD_ALLOC_INDEX" }}"
          {% endraw %}
          GENESIS_L1_PATH="local/genesis_{{ version }}.json"
          GETH_LOG_FORMAT="{{ job.env.get('log-format', 'json') }}"
          GETH_LOG_TAGS="{{ 'service.name:' + job.name + '-{{ env "NOMAD_ALLOC_INDEX" }}' + ',service.version:' + version }}"
        EOH
        destination = "secrets/.env"
        env = true
      }

      template {
        data = <<-EOH
        #!/usr/bin/env bash

        {%- raw %}
        {{- range nomadService "datadog-agent-logs-collector" }}
          {{ if contains "tcp" .Tags }}
        exec > >(nc {{ .Address }} {{ .Port }}) 2>&1
          {{ end }}
        {{- end }}
        {% endraw %}

        {% raw %}
        {{ with nomadVar "nomad/jobs" }}
        BACKUP="{{ .MEV_COMMIT_GETH_CHAIN_BACKUP }}"
        {{ end }}
        {% endraw %}

        if [[ "${BACKUP}" == "true" ]]; then
          echo "Detected ongoing data backup, terminating..."
          exit 1
        fi

        BACKUP_FILE="local/backups/$(
          ls -1 local/backups/ |
          sed -r 's/(.*)_dirty/\1/' |
          awk -v jobname="{{ job.name }}-{% raw %}{{ env "NOMAD_ALLOC_INDEX" }}{% endraw %}" -F'_' '$2 == jobname {print $3, $0}' |
          sort -k1,1r |
          head -n 1 |
          cut -d' ' -f2
        )"
        if [[ ! -f "${BACKUP_FILE}" ]]; then
          echo "No backup found, skipping restore"
          exit 0
        fi

        chmod +x local/mev-commit-geth
        CHAIN_ID=$(cat "${GENESIS_L1_PATH}" | jq -r .config.chainId)

        if [[ ! -d "${GETH_DATA_DIR}/geth/chaindata" ]]; then
          echo "Initializing chain data directory"
          local/mev-commit-geth \
            --db.engine=pebble \
            --state.scheme=path \
            --log.format="${GETH_LOG_FORMAT}" \
            --log.tags="${GETH_LOG_TAGS}" \
            --datadir="${GETH_DATA_DIR}" \
            init "${GENESIS_L1_PATH}"
        else
          echo "Chain data directory already exists, skipping restore"
          exit 0
        fi

        echo "Restoring from backup file ${BACKUP_FILE} to ${GETH_DATA_DIR}"
        echo "Backup file size: $(du -h ${BACKUP_FILE} | cut -f1)"
        START_TIME=$(date +%s)
        local/mev-commit-geth \
          --verbosity=3 \
          --log.format="${GETH_LOG_FORMAT}" \
          --log.tags="${GETH_LOG_TAGS}" \
          --datadir="${GETH_DATA_DIR}" \
          import ${BACKUP_FILE}

        if [[ $? -eq 0 ]]; then
          ELAPSED_TIME=$(($(date +%s) - START_TIME))
          echo "Restore finished in: $(date -u -d@${ELAPSED_TIME} +%H:%M:%S)"
        else
          echo "Restore failed"
          exit 1
        fi
        EOH
        destination = "local/run.sh"
        change_mode = "noop"
        perms = "0755"
      }

      config {
        command = "bash"
        args = ["-c", "exec local/run.sh"]
      }
    }

    task "node" {
      driver = "exec"
      kill_timeout = "25s"

      {% if profile == 'testnet' %}
      resources {
        cores = 6
        memory = 32768
      }
      {% elif profile == 'stressnet' %}
      resources {
        cpu = 2000
        memory = 16384
      }
      {% endif %}

      {% for port_name in job.ports[0] %}
      service {
        name = "{{ job.name }}"
        port = "{{ port_name }}"
        tags = ["{{ port_name }}"]
        provider = "nomad"
      }
      {% endfor %}

      {% if env != 'devenv' %}
      artifact {
        source = "https://primev-infrastructure-artifacts.s3.us-west-2.amazonaws.com/config_{{ version }}.toml"
      }
      artifact {
        source = "https://primev-infrastructure-artifacts.s3.us-west-2.amazonaws.com/genesis_{{ version }}.json"
      }
      artifact {
        source = "https://primev-infrastructure-artifacts.s3.us-west-2.amazonaws.com/mev-commit-geth_{{ version }}_Linux_{{ target_system_architecture }}.tar.gz"
      }
      {% else %}
      artifact {
        source = "http://{{ ansible_facts['default_ipv4']['address'] }}:1111/config_{{ version }}.toml"
      }
      artifact {
        source = "http://{{ ansible_facts['default_ipv4']['address'] }}:1111/genesis_{{ version }}.json"
      }
      artifact {
        source = "http://{{ ansible_facts['default_ipv4']['address'] }}:1111/mev-commit-geth_{{ version }}_Linux_{{ target_system_architecture }}.tar.gz"
      }
      {% endif %}

      template {
        data = <<-EOH
          {%- raw %}
          GETH_DATA_DIR="/alloc/data/node-{{ env "NOMAD_ALLOC_INDEX" }}"
          {% endraw %}
          GETH_CONFIG="local/config_{{ version }}.toml"
          GENESIS_L1_PATH="local/genesis_{{ version }}.json"
          GETH_BIN_PATH="local/mev-commit-geth"
          NODE_IP="{{ job.env['ip'] }}"
          {% if job.env['type'] != 'signer' %}
          PUBLIC_NODE_IP="{{ job.env['public_ip'] }}"
          {% endif %}
          NET_RESTRICT="{{ job.env['net_restrict'] }}"
          GETH_NODE_TYPE="{{ job.env['type'] }}"
          GETH_VERBOSITY={{ job.env.get('log-verbosity', '3') }}
          GETH_LOG_FORMAT="{{ job.env.get('log-format', 'json') }}"
          GETH_LOG_TAGS="{{ 'service.name:' + job.name + '-{{ env "NOMAD_ALLOC_INDEX" }}' + ',service.version:' + version }}"
          {%- raw %}
          NODE_KEY="{{ with secret "secret/data/mev-commit" }}{{ .Data.data.{% endraw %}{{ job.artifacts | selectattr('nodekey', 'defined') | map(attribute='nodekey.name') | first }}{% raw %} }}{{ end }}"
          {% endraw %}
          {% if job.env['type'] == 'signer' %}
          {%- raw %}
          GETH_KEYSTORE_DIR="/alloc/data/node-{{ env "NOMAD_ALLOC_INDEX" }}/keystore"
          GETH_KEYSTORE_FILENAME="{{ with secret "secret/data/mev-commit" }}{{ .Data.data.{% endraw %}{{ job.artifacts | selectattr('keystore', 'defined') | map(attribute='keystore.name') | first }}{% raw %}_filename }}{{ end }}"
          GETH_KEYSTORE_PASSWORD="{{ with secret "secret/data/mev-commit" }}{{ .Data.data.{% endraw %}{{ job.artifacts | selectattr('keystore', 'defined') | map(attribute='keystore.name') | first }}{% raw %}_password }}{{ end }}"
          {% endraw %}
          {% endif %}
          GETH_SYNC_MODE="{{ job.env['sync_mode'] }}"
          {% if job.env['type'] != 'bootnode' %}
            {% if geth_bootnode_url is defined %}
          BOOTNODE_ENDPOINT="{{ geth_bootnode_url }}"
            {% else %}
          {%- raw %}
          {{- range nomadService "mev-commit-geth-bootnode1" }}
            {{- if contains "p2p" .Tags }}
          BOOTNODE_ENDPOINT="enode://{{ with secret "secret/data/mev-commit" }}{{ .Data.data.{% endraw %}{{ job.artifacts | selectattr('nodekey', 'defined') | map(attribute='nodekey.name') | first }}_address{% raw %} }}{{ end }}@{{ .Address }}:{{ .Port }}"
            {{- end }}
          {{- end }}
          {% endraw %}
            {% endif %}
          {% endif %}
        EOH
        destination = "secrets/.env"
        env = true
      }

      template {
        data = <<-EOH
          #!/usr/bin/env bash

          {%- raw %}
          {{- range nomadService "datadog-agent-logs-collector" }}
            {{ if contains "tcp" .Tags }}
          exec > >(nc {{ .Address }} {{ .Port }}) 2>&1
            {{ end }}
          {{- end }}
          {% endraw %}

          {% raw %}
          {{ with nomadVar "nomad/jobs" }}
          BACKUP="{{ .MEV_COMMIT_GETH_CHAIN_BACKUP }}"
          {{ end }}
          {% endraw %}

          if [[ "${BACKUP}" == "true" ]]; then
            echo "Detected ongoing data backup, terminating..."
            exit 1
          fi

          mkdir -p "${GETH_DATA_DIR}" > /dev/null 2>&1

          {% if job.artifacts | selectattr('keystore', 'defined') | list | length > 0 %}
          mkdir -p "${GETH_KEYSTORE_DIR}" > /dev/null 2>&1
          {%- raw %}
            {{- with secret "secret/data/mev-commit" }}
          echo '{{ .Data.data.{% endraw %}{{ job.artifacts | selectattr('keystore', 'defined') | map(attribute='keystore.name') | first }}{% raw %} }}' > "${GETH_KEYSTORE_DIR}/${GETH_KEYSTORE_FILENAME}"
            {{ end }}
          {% endraw %}
            {% if job.env['type'] == 'signer' %}
          export BLOCK_SIGNER_ADDRESS="$(cat ${GETH_KEYSTORE_DIR}/${GETH_KEYSTORE_FILENAME} | jq -r '.address')"
            {% endif %}
          {% endif %}

          chmod +x local/mev-commit-geth local/entrypoint.sh
          exec local/entrypoint.sh
        EOH
        destination = "local/run.sh"
        change_mode = "noop"
        perms = "0755"
      }

      config {
        command = "bash"
        args = ["-c", "exec local/run.sh"]
      }
    }

    task "backup" {
      driver = "exec"

      lifecycle {
        hook = "poststop"
      }

      {% if env == 'testenv' %}
      resources {
        memory = 2048
      }
      {% endif %}

      volume_mount {
        volume = "tmp-volume"
        destination = "/local/backups"
        read_only = false
      }

      {% if env != 'devenv' %}
      artifact {
        source = "https://primev-infrastructure-artifacts.s3.us-west-2.amazonaws.com/mev-commit-geth_{{ version }}_Linux_{{ target_system_architecture }}.tar.gz"
      }
      {% else %}
      artifact {
        source = "http://{{ ansible_facts['default_ipv4']['address'] }}:1111/mev-commit-geth_{{ version }}_Linux_{{ target_system_architecture }}.tar.gz"
      }
      {% endif %}

      template {
        data = <<-EOH
          {%- raw %}
          GETH_DATA_DIR="/alloc/data/node-{{ env "NOMAD_ALLOC_INDEX" }}"
          {% endraw %}
          GETH_LOG_FORMAT="{{ job.env.get('log-format', 'json') }}"
          GETH_LOG_TAGS="{{ 'service.name:' + job.name + '-{{ env "NOMAD_ALLOC_INDEX" }}' + ',service.version:' + version }}"
        EOH
        destination = "secrets/.env"
        env = true
      }

      template {
        data = <<-EOH
        #!/usr/bin/env bash

        {%- raw %}
        {{- range nomadService "datadog-agent-logs-collector" }}
          {{ if contains "tcp" .Tags }}
        exec > >(nc {{ .Address }} {{ .Port }}) 2>&1
          {{ end }}
        {{- end }}
        {% endraw %}

        {% raw %}
        {{ with nomadVar "nomad/jobs" }}
        BACKUP="{{ .MEV_COMMIT_GETH_CHAIN_BACKUP }}"
        {{ end }}
        {% endraw %}

        if [[ "${BACKUP}" != "true" ]]; then
          echo "Backup not requested, skipping..."
          exit 0
        fi

        BACKUP_FILE="local/backups/{{ version }}_{{ job.name }}-{% raw %}{{ env "NOMAD_ALLOC_INDEX" }}{% endraw %}_$(date +%Y%m%d%H%M%S)"
        STATUS=$(nomad alloc status -address="http://127.0.0.1:4646" -json "${NOMAD_ALLOC_ID}")
        NON_ZERO_EXIT_EVENTS=$(echo "$STATUS" | jq -r '.TaskStates.node.Events[] | select(.ExitCode != 0)')
        if [[ -n "${NON_ZERO_EXIT_EVENTS}" ]]; then
          echo "The main task did not start or finish gracefully"
          BACKUP_FILE+="-dirty"
        fi
        BACKUP_FILE+=".rlp"

        echo "Exporting chain data from ${GETH_DATA_DIR} to backup file: ${BACKUP_FILE}"
        START_TIME=$(date +%s)
        chmod +x local/mev-commit-geth
        local/mev-commit-geth \
          --verbosity=3 \
          --log.format="$GETH_LOG_FORMAT" \
          --log.tags="$GETH_LOG_TAGS" \
          --datadir="${GETH_DATA_DIR}" \
          export ${BACKUP_FILE}

        if [[ "$?" -eq 0 ]] && [[ -f "${BACKUP_FILE}" ]]; then
          ELAPSED_TIME=$(($(date +%s) - START_TIME))
          echo "Backup finished in: $(date -u -d@${ELAPSED_TIME} +%H:%M:%S)"
          echo "Backup file size: $(du -h ${BACKUP_FILE} | cut -f1)"
        else
          echo "Backup failed"
          exit 1
        fi
        EOH
        destination = "local/run.sh"
        change_mode = "noop"
        perms = "0755"
      }

      config {
        command = "bash"
        args = ["-c", "exec local/run.sh"]
      }
    }
  }
}
