job "eth-faucet" {
  datacenters = ["dc1"]

  group "eth-faucet-group" {
    count = 1

    network {
      mode = "bridge"

      dns {
        servers = ["1.1.1.1"]
      }
      # TODO: Figure out which job already uses 8080
      port "http" {
        static = 8080
      }
    }

    task "eth-faucet" {
      driver = "exec"

      service {
        name = "eth-faucet"
        port = "http"
        tags = ["http"]
        provider = "nomad"
      }

      artifact {
        source = "https://github.com/chainflag/eth-faucet/releases/download/v1.1.0/eth-faucet_1.1.0_Linux_x86_64.tar.gz"
        destination = "eth-faucet"
      }

      artifact {
        source = "https://primev-infrastructure-artifacts.s3.us-west-2.amazonaws.com/faucet_keystore_{{ version }}.tar.gz"
        destination = "eth-faucet"
      }

      template {
        data = <<-EOH
          #!/usr/bin/env bash
          # TODO: Use url of locally running chain
          export RPC_URL="https://chainrpc.testnet.mev-commit.xyz/"
          cd eth-faucet
          KEYSTORE_FILE=$(ls | grep -E '^UTC--.*--.*$')
          if [ -z "$KEYSTORE_FILE" ]; then
            echo "Keystore file not found"
            exit 1
          fi
          KEYSTORE_PASSWORD="{{ with secret "secret/data/mev-commit" }}{{ .Data.data.faucet_keystore_password }}{{ end }}"
          echo $KEYSTORE_PASSWORD > password.txt
          chmod +x eth-faucet
          ./eth-faucet --wallet.keyjson $KEYSTORE_FILE --wallet.keypass password.txt --wallet.provider $RPC_URL
        EOH
        destination = "local/run.sh"
        perms = "0755"
      }

      config {
        command = "bash"
        args = ["-c", "local/run.sh"]
      }
    }
  }
}
