#jinja2: trim_blocks:True, lstrip_blocks:True
job "{{ job.name }}" {
  datacenters = ["{{ datacenter }}"]

  type        = "service"

  group "influxdb" {
    count = 1

    network {
      port "db" {
        static = 8086
      }
    }

    service {
      name = "influxdb"
      port = "db"

      check {
        type     = "tcp"
        interval = "10s"
        timeout  = "2s"
      }
    }

    task "influxdb" {
      driver = "docker"

      config {
        image = "influxdb:latest"
        ports = ["db"]

        volumes = [
          "local/data:/var/lib/influxdb2"
        ]

        env = {
          DOCKER_INFLUXDB_INIT_USERNAME = "admin"
          DOCKER_INFLUXDB_INIT_PASSWORD = "password"
          DOCKER_INFLUXDB_INIT_ORG = "my-org"
          DOCKER_INFLUXDB_INIT_BUCKET = "my-bucket"
        }
      }

      resources {
        cpu    = 500
        memory = 512
      }
    }
  }
}
