#jinja2: trim_blocks:True, lstrip_blocks:True
job "redis" {
  datacenters = ["{{ datacenter }}"]

  group "redis-group" {
    count = 1

    {% if env == 'devenv' %}
    restart {
      attempts = 0
      mode = "fail"
    }

    reschedule {
      attempts = 0
      unlimited = false
    }
    {% endif %}

    network {
      mode = "bridge"

      dns {
        servers = {{ (ansible_facts['dns']['nameservers'] + ['1.1.1.1']) | tojson }}
      }

      port "redis_master" {
        static = 7001
        to = 7001
      }

      port "redis_replica" {
        static = 7002
        to = 7002
      }
    }

    volume "redis-master-data" {
      type = "host"
      source = "data-volume"
      read_only = false
    }

    volume "redis-replica-data" {
      type = "host"
      source = "data-volume"
      read_only = false
    }

    task "redis-master" {
      driver = "exec"
      artifact {
        source = "http://download.redis.io/releases/redis-7.4.1.tar.gz"
      }

      volume_mount {
        volume = "redis-master-data"
        destination = "/local/master-data"
        read_only = false
      }

      resources {
        cpu    = 500
        memory = 512
      }

      template {
        data = <<-EOF
          port 7001
          bind 0.0.0.0
          protected-mode no
          dir /local/master-data
          cluster-enabled no
          appendonly yes
        EOF
        destination = "local/redis-master.conf"
      }

      template {
        data = <<-EOF
          #!/usr/bin/env bash
          tar -xzf local/redis-7.4.1.tar.gz -C local
          cd local/redis-7.4.1
          make > /dev/null 2>&1
          if [ $? -ne 0 ]; then
            echo "Failed to build Redis"
            exit 1
          fi
          exec src/redis-server /local/redis-master.conf
        EOF
        destination = "local/run-master.sh"
        change_mode = "noop"
        perms = "0755"
      }

      config {
        command = "bash"
        args = ["-c", "exec local/run-master.sh"]
      }

      service {
        name = "redis-master"
        port = "redis_master"
        tags = ["redis_master"]
        provider = "nomad"

        check {
          type     = "tcp"
          interval = "10s"
          timeout  = "2s"
        }
      }
    }

    task "redis-replica" {
      driver = "exec"
      artifact {
        source = "http://download.redis.io/releases/redis-7.4.1.tar.gz"
      }

      volume_mount {
        volume = "redis-replica-data"
        destination = "/local/replica-data"
        read_only = false
      }

      resources {
        cpu    = 500
        memory = 512
      }

      template {
        data = <<-EOF
          port 7002
          bind 0.0.0.0
          protected-mode no
          dir /local/replica-data
          replicaof 127.0.0.1 7001
          appendonly yes
        EOF
        destination = "local/redis-replica.conf"
      }

      template {
        data = <<-EOF
          #!/usr/bin/env bash
          tar -xzf local/redis-7.4.1.tar.gz -C local
          cd local/redis-7.4.1
          make > /dev/null 2>&1
          if [ $? -ne 0 ]; then
            echo "Failed to build Redis"
            exit 1
          fi
          exec src/redis-server /local/redis-replica.conf
        EOF
        destination = "local/run-replica.sh"
        change_mode = "noop"
        perms = "0755"
      }

      config {
        command = "bash"
        args = ["-c", "exec local/run-replica.sh"]
      }

      service {
        name = "redis-replica"
        port = "redis_replica"
        tags = ["redis_replica"]
        provider = "nomad"

        check {
          type     = "tcp"
          interval = "10s"
          timeout  = "2s"
        }
      }
    }
  }
}
