name: infrastructure

on:
  workflow_run:
    workflows:
      - ci
    types:
      - completed
  workflow_dispatch:
    inputs:
      profile:
        description: 'Profile'
        type: choice
        options:
          - devnet
          - testnet
        default: 'devnet'
      init:
        description: 'Initialize'
        type: boolean
        default: false
      logs:
        description: 'Collect Logs'
        type: boolean
        default: false
      target:
        description: 'Target'
        type: choice
        options:
          - lax
          - nyc
          - bue1
          - bue2
        default: 'lax'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.inputs.target }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  cluster:
    name: Setup and Test Nomad devnet Cluster
    runs-on: ubuntu-22.04
    timeout-minutes: 180
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Setup Environment
        run: |
          echo "${{ secrets.INFRASTRUCTURE_DNS_RECORDS }}" | sudo tee -a /etc/hosts
          sudo systemctl restart systemd-resolved

          IS_MANUAL_DEPLOYMENT=$([ "${{ github.event_name }}" == 'workflow_dispatch' ] && echo true || echo false)
          CLUSTER_PROFILE_FLAG=$([ "${IS_MANUAL_DEPLOYMENT}" == "true" ] && echo "--profile ${{ github.event.inputs.profile }}" || echo "--profile ci")
          CLUSTER_LOGS_FLAG=$([ "${{ github.event.inputs.logs }}" == 'false' ] && echo "--no-logs-collection" || echo "")
          TARGET_MACHINE_IP=$([ "${IS_MANUAL_DEPLOYMENT}" == "true" ] && echo "$(dig +short ${{ github.event.inputs.target }})" || echo "127.0.0.1")

          echo "IS_MANUAL_DEPLOYMENT=${IS_MANUAL_DEPLOYMENT}" >> ${GITHUB_ENV}
          echo "CLUSTER_PROFILE_FLAG=${CLUSTER_PROFILE_FLAG}" >> ${GITHUB_ENV}
          echo "CLUSTER_LOGS_FLAG=${CLUSTER_LOGS_FLAG}" >> ${GITHUB_ENV}
          echo "TARGET_MACHINE_IP=${TARGET_MACHINE_IP}" >> ${GITHUB_ENV}

#      - name: Check User Permissions
#        if: ${{ env.IS_MANUAL_DEPLOYMENT == 'true' }}
#        run: |
#          USERNAME="${{ github.actor }}"
#          ORG_NAME="${{ github.repository_owner }}"
#          RESPONSE=$(curl -s -o /dev/null -w "%{http_code}" -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/orgs/${ORG_NAME}/members/${USERNAME})
#          if [ "${RESPONSE}" != "204" ]; then
#            echo "User ${USERNAME} is not a member of the ${ORG_NAME} organization."
#            exit 1
#          fi

      - name: Notify Channel - Deployment Initialized
        if: ${{ env.IS_MANUAL_DEPLOYMENT == 'true' }}
        run: |
          WORKFLOW_URL="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          PAYLOAD=$(cat <<-EOH
          {
            "text": "<@${{ github.actor }}> - deployment to <http://${TARGET_MACHINE_IP}:4646/ui|*${{ github.event.inputs.target }}*> has been initialized",
            "attachments": [
              {
                "color": "#0000FF",
                "fields": [
                  {
                    "title": "Workflow",
                    "value": "<${WORKFLOW_URL}|View Workflow Run>",
                    "short": false
                  },
                ]
              }
            ]
          }
          EOH
          )
          curl -X POST -H 'Content-type: application/json' --data "${PAYLOAD}" "${{ secrets.SLACK_CI_CHANNEL_WEBHOOK_URL }}"

      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: Setup Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.work.sum') }}
          restore-keys: ${{ runner.os }}-go-

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22
          check-latest: true
          cache-dependency-path: go.work.sum

      - name: Install Required Dependencies and Configure Control Machine
        run: |
          echo 'deb [trusted=yes] https://repo.goreleaser.com/apt/ /' | sudo tee /etc/apt/sources.list.d/goreleaser.list
          sudo apt-get update
          sudo apt-get install --yes goreleaser

          pip install boto3 botocore
          pipx inject ansible-core botocore boto3

          sudo useradd --create-home ubuntu && sudo usermod --append --groups sudo ubuntu

          ANSIBLE_CONNECTION="ansible_connection=local"
          if [ "${IS_MANUAL_DEPLOYMENT}" == "true" ]; then
            ANSIBLE_CONNECTION=""
            export ANSIBLE_HOST_KEY_CHECKING=false

            mkdir ~/.ssh && \
            chmod 700 ~/.ssh && \
            echo "${{ secrets.INFRASTRUCTURE_DEPLOYMENT_KEY }}" > ~/.ssh/id_ed25519 && \
            chmod 600 ~/.ssh/id_ed25519
          fi

          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set default.region us-west-2

          cat <<-EOH > infrastructure/nomad/hosts.ini
          [nomad_servers]
          ${TARGET_MACHINE_IP} ${ANSIBLE_CONNECTION} ansible_user=ubuntu
          [nomad_clients]
          ${TARGET_MACHINE_IP} ${ANSIBLE_CONNECTION} ansible_user=ubuntu
          EOH

          ansible all --inventory infrastructure/nomad/hosts.ini --module-name ping

      - name: Destroy Existing Cluster
        if: ${{ env.IS_MANUAL_DEPLOYMENT == 'true' }}
        run: |
          ./cluster.sh destroy ${CLUSTER_PROFILE_FLAG} --debug
        working-directory: infrastructure/nomad

      - name: Initialize Cluster
        if: ${{ env.IS_MANUAL_DEPLOYMENT == 'false' || github.event.inputs.init == 'true'}}
        run: |
          ./cluster.sh init ${CLUSTER_PROFILE_FLAG} --debug
        working-directory: infrastructure/nomad

      - name: Deploy Cluster
        run: |
          ./cluster.sh deploy ${CLUSTER_PROFILE_FLAG} ${CLUSTER_LOGS_FLAG} --debug
        working-directory: infrastructure/nomad

      - name: Destroy Cluster
        if: ${{ env.IS_MANUAL_DEPLOYMENT == 'false' }}
        run: |
          ./cluster.sh destroy ${CLUSTER_PROFILE_FLAG} --debug
        working-directory: infrastructure/nomad

      - name: Notify Channel - Deployment Successful
        if: ${{ env.IS_MANUAL_DEPLOYMENT == 'true' && success() }}
        run: |
          WORKFLOW_URL="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          PAYLOAD=$(cat <<-EOH
          {
            "text": "<@${{ github.actor }}> - deployment to <http://${TARGET_MACHINE_IP}:4646/ui|*${{ github.event.inputs.target }}*> was successful",
            "attachments": [
              {
                "color": "#00FF00",
                "fields": [
                  {
                    "title": "Workflow",
                    "value": "<${WORKFLOW_URL}|View Workflow Run>",
                    "short": false
                  },
                ]
              }
            ]
          }
          EOH
          )
          curl -X POST -H 'Content-type: application/json' --data "${PAYLOAD}" "${{ secrets.SLACK_CI_CHANNEL_WEBHOOK_URL }}"

      - name: Notify Channel - Deployment Failed
        if: ${{ env.IS_MANUAL_DEPLOYMENT == 'true' && failure() }}
        run: |
          WORKFLOW_URL="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          PAYLOAD=$(cat <<-EOH
          {
            "text": "<@${{ github.actor }}> - deployment to <http://${TARGET_MACHINE_IP}:4646/ui|*${{ github.event.inputs.target }}*> has failed",
            "attachments": [
              {
                "color": "#FF0000",
                "fields": [
                  {
                    "title": "Workflow",
                    "value": "<${WORKFLOW_URL}|View Workflow Run>",
                    "short": false
                  },
                ]
              }
            ]
          }
          EOH
          )
          curl -X POST -H 'Content-type: application/json' --data "${PAYLOAD}" "${{ secrets.SLACK_CI_CHANNEL_WEBHOOK_URL }}"

      - name: Initialize Debug Shell
        if: ${{ env.IS_MANUAL_DEPLOYMENT == 'false' && failure() }}
        run: |
          TUNSHELL_KEYS=$(curl -sSf -X POST https://eu.relay.tunshell.com/api/sessions)
          DEBUG_SHELL="sh <(curl -sSf https://lets.tunshell.com/init.sh) L $(echo ${TUNSHELL_KEYS} | jq -r .peer2_key) \${TUNSHELL_SECRET} eu.relay.tunshell.com"
          WORKFLOW_URL="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          PR_TITLE="$(jq -r .head_commit.message <<< '${{ toJson(github.event.workflow_run) }}')"
          PR_URL="$(jq -r .head_commit.url <<< '${{ toJson(github.event.workflow_run) }}')"
          PAYLOAD=$(cat <<-EOH
          {
            "text": "<@${{ github.actor }}> infrastructure workflow has failed:",
            "attachments": [
              {
                "color": "#FF0000",
                "fields": [
                  {
                    "title": "Workflow",
                    "value": "<${WORKFLOW_URL}|View Workflow Run>",
                    "short": false
                  },
                  {
                    "title": "Pull Request",
                    "value": "<${PR_URL}|${PR_TITLE}>",
                    "short": false
                  },
                  {
                    "title": "Debug Shell",
                    "value": "\`\`\`${DEBUG_SHELL}\`\`\`",
                    "short": false
                  }
                ]
              }
            ]
          }
          EOH
          )

          echo "Debug Shell: ${DEBUG_SHELL}"
          curl -X POST -H 'Content-type: application/json' --data "${PAYLOAD}" "${{ secrets.SLACK_CI_CHANNEL_WEBHOOK_URL }}"
          curl -sSf https://lets.tunshell.com/init.sh | sh -s -- T $(echo ${TUNSHELL_KEYS} | jq -r .peer1_key) ${{ secrets.TUNSHELL_SECRET }} eu.relay.tunshell.com
